@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{margin: 0px;padding: 0px;}

body{font-family: 'Montserrat', sans-serif;}

li{list-style-type: none;display: inline-block;margin:0px;padding: 0px;}
a{text-decoration: none;display: block;}

/*------------------Home page CSS start-----------------------------------*/

.header_area{padding: 30px 0px;overflow:hidden;background: white;}
.container{width: 1200px;padding: 0px 30px;margin: 0px auto;display: flex; flex-wrap: wrap;align-items: center;}
.container2{width: 1200px;padding: 0px 30px;margin: 0px auto;display: flex; flex-wrap: wrap;}
.container3{width: 1200px;padding: 0px 30px;margin: 0px auto;}
.logo{float: left;width: 20%;}
.foremail{float: left;width: 25%;}
.foremail .left{float: left;width: 15%;}
.foremail .left i{border: 1px solid gray;padding: 10px;border-radius: 30px;font-size: 20px;}
.foremail .right{float: left;width: 85%;}
.foremail .right h4{font-weight: 600;padding-left: 10px;margin-top: 3px; color: black;}
.foremail .right a{margin-left: 10px;margin-top: 3px;font-size: 15px;color: gray;font-weight: 400;}
.forphone{float: left;width: 25%;}
.forphone .left{float: left;width: 15%;}
.forphone .left i{border: 1px solid gray;padding: 10px;border-radius: 30px;font-size: 20px;}
.forphone .right{float: left;width: 85%;}
.forphone .right h4{font-weight: 600;padding-left: 10px;margin-top: 3px; color: black;}
.forphone .right a{margin-left: 10px;margin-top: 3px;font-size: 15px;color: gray;font-weight: 400;}
.forsocial{float: left;width: 30%;}
.forsocial ul{float: right;display: flex;align-items: center;margin-top: 10px;} 
.forsocial ul li{} 
.forsocial ul li a{font-size: 28px;color: gray;margin-left: 3px;transition: .3s;} 
.forsocial ul li.reglog a{transition: .3s;font-size: 16px; margin-left: 10px;background:#157cb8d6 ;padding: 5px 20px;color: white;border-radius: 5px;font-weight: 600;} 
.forsocial ul li a:hover{color: #157CB8;} 
.forsocial ul li.reglog a:hover{background: #157CB8;color: white;} 


.mynav{background: black;}
.mynav .left_menu{width: 80%;}
.mynav .left_menu ul{}
.mynav .left_menu ul li{}
.mynav .left_menu ul li a{margin-left: -4px; margin-right: 0px; color: white;font-size: 20px;font-weight: 600;padding:15px 20px;text-transform: uppercase;transition: .5s;}
.mynav .left_menu ul li a:hover , .active{background:#157CB8;}
.mynav .middle_menu{width: 5%;}
.mynav .middle_menu img{width: 40px;border-radius: 150px;border: 2px solid  #157CB8;cursor: pointer;margin-top: 3px;}
.mynav .middle_menu ul {position: relative;}
.mynav .middle_menu ul li ul{position: absolute;background: black;width: 120px;padding:10px;border-radius: 3px;display: none;}
.mynav .middle_menu ul li ul li{display: block;}
.mynav .middle_menu ul li ul li a{display: block;color: white;font-weight: 400;font-size: 16px;padding: 6px 0px;transition: .5s;}
.mynav .middle_menu li:hover ul{display: block;}
.mynav .middle_menu li ul li a:hover{background: white;color:  #157CB8;padding-left: 10px;border-radius: 5px;}
.mynav .right_menu{width: 15%;}
.mynav .right_menu form{float: right;}
.mynav .right_menu input{padding: 10px;border-radius: 5px;border:none;}


.slider{background-image: url('../img/banner-image.jpg');background-repeat: no-repeat;height: 600px;background-size: cover ;}
.content{margin-left: 65%;width: 35%;}
.content h1{color: white;font-weight: 600;font-size: 40px;margin-top: 65%;}
.content p{font-size: 25px;font-weight: 400;color: white;margin: 5px 0px;}
.content a{margin-top: 15px; background-color: #157CB8;padding:15px 20px;width: 150px;text-align: center;color: white;border-radius: 5px;font-size: 20px;}


.findCar{padding: 80px 0px;background-color: #EEEEEE;}
.findCar h1{color: black;margin: 0px auto;font-weight: 600;font-size: 40px;margin-bottom: 20px;position: relative;}
.findCar h1 span{font-weight: 400;}
.findCar h1:before{background-color: #157CB8;height: 2px;width: 60%; position: absolute;content: "";left: 20%;top:110%;}
.findCar p{text-align: center;margin-bottom: 40px;width: 100%;}
.findCar a{display: block;}
.findCar .carBox{border-radius: 5px; width: 380px;overflow: hidden;position: relative; box-shadow: 3px 3px 10px rgb(0 0 0 / 48%);}
.findCar .customleftRight{margin-left: 30px;margin-right: 30px;}
.findCar .carBox img{width: 380px;}
.findCar .carBox .conetIcon{background-color: rgba(0, 0, 0, .7);color: white;padding: 20px;position: absolute;width: 100%;margin-top: -62px;}
.findCar .carBox .conetIcon ul{}
.findCar .carBox .conetIcon ul li{margin-left: 15px;}
.findCar .carBox .conetIcon ul li:first-child{margin-left: 0px;}
.findCar .carBox .cardetails{background-color: white;padding: 20px;}
.findCar .carBox .cardetails .left{float: left;width: 60%;}
.findCar .carBox .cardetails .left a{font-size:20px;color:black;font-weight: 600;}
.findCar .carBox .cardetails .right{float: left;width: 40%;}
.findCar .carBox .cardetails .right h2{font-size: 20px;float: right;}
.findCar .carBox .cardetails .bootms{clear: both;}
.findCar .carBox .cardetails .bootms p{color: black;margin-top: 40px;}



.coundown{background-image: url('../img/fun-facts-bg.jpg');background-size: cover;height: 350px;position: relative;z-index: 5;display: flex;flex-wrap: wrap;align-items: center;}
.coundown:after{content:"";width: 100%;height:100%;position: absolute; background-color: rgba(0, 0, 0, .5);left:0;top:0;z-index: 10;}
.coundown .coundownBox{animation-name:leftToright;animation-duration: 3s; z-index: 15;color: white;width: 200px;height: 200px;background-color: #157CB8;border-radius: 150px;text-align: center;margin-right: 133px;}
@keyframes leftToright {
	0%{margin-left: -100px;}
	25%{margin-left: -50px;}
	50%{margin-left: -10px;}
	100%{margin-left: 0px;}
}
.coundown .mycnbox{margin-right: 0px;}
.coundown .coundownBox i{font-size: 30px;margin-top: 40px;}
.coundown .coundownBox h3{font-size: 50px;}
.coundown .coundownBox p{}


.subscrive{padding: 80px 0px;background-color: #222222;}
.subscrive h1{color: white;font-weight: 600;font-size: 40px;text-align: center;width: 100%;margin-bottom: 30px;}
.subscrive form{margin: 0px auto;width: 40%;}
.subscrive input[type='text']{padding: 15px;width: 70%;background-color: #222222;border: 1px solid blue;}
.subscrive input[type='submit']{padding: 15px;width: 20%;background-color: blue;color: white;border: 1px solid white;}


.footer{background-color: gray;padding: 40px 0px;}
.footer .left{width: 50%;float: left;}
.footer .left p{color: white;font-size: 16px;}
.footer .right{width: 50%;float: right;}
.footer .right ul{float: right;}
.footer .right ul li{color: white; font-size: 16px;}
.footer .right ul li:first-child{margin-right: 15px;}
.footer .right ul li a{color: white; font-size: 16px;}

/*------------------Home page CSS End-----------------------------------*/
/*------------------Car list page CSS Start-----------------------------------*/

.carHero{padding: 80px 0px;text-align: center;background-image: url('../img/listing-page-header-img.jpg');background-size: cover;background-repeat: no-repeat;position: relative;z-index: 1;}
.carHero .contentss{z-index: 100;}
.carHero:before{width: 100%;height: 100%;background-color: rgba(0, 0, 0, .5);content:"";left: 0;top: 0;position: absolute;z-index: 10;}
.carHero .contentss h1{color: white;}
.carHero .contentss p{color: white;}
.carList{padding: 80px 0px;}
.carList .leftSide{float: left;width: 22%;}
.carList .leftSide .leftTopBox{border:1px solid #80808033;text-align: center;padding: 20px 10px;border-radius: 5px;width: 100%;}
.carList .leftSide .leftTopBox h1{font-size: 20px;margin-bottom: 5px;font-weight: 600;color: #808080ad;text-align: left;margin-bottom: 10px;}
.carList .leftSide .leftTopBox i{font-size: 26px;color: #157CB8;}
.carList .leftSide .leftTopBox select{width: 100%;padding: 8px 5px;font-size: 16px;margin-bottom: 10px;background-color: #EEEEEE;color: gray;border-radius: 5px;}
.carList .leftSide .leftTopBox input[type='submit']{width: 100%;background-color: #157CB8;border: 1px solid blue;padding: 8px 5px;border-radius: 5px;color: white;font-size: 18px;}
.carList .leftSide .leftBottomBox{width: 100%; border:1px solid #80808033;text-align: center;padding: 20px 10px;border-radius: 5px;margin-top: 20px;}
.carList .leftSide .leftBottomBox .main{background-color: #EEEEEE;padding: 10px;height: 32px;border-radius: 5px;box-shadow: 4px 3px 5px #80808085;margin-bottom: 10px;}
.carList .leftSide .leftBottomBox h1{font-size: 20px;margin-bottom: 5px;font-weight: 600;color: #808080ad;text-align: left;margin-bottom: 10px;}
.carList .leftSide .leftBottomBox .left{float: left;width: 35%;height: auto;}
.carList .leftSide .leftBottomBox .left img{width: 60px;text-align: left;}
.carList .leftSide .leftBottomBox .right{float: left;width: 65%;height: auto;text-align: left;}
.carList .leftSide .leftBottomBox .right a{font-size: 16px;color: black;font-weight: 600;}
.carList .leftSide .leftBottomBox .right p{color: gray;font-size: 13px;}
.carList .rightSide{float: right;width: 72%;margin-left: 60px;}
.carList .rightSide .rightTop{background-color:#F5F5F5;padding: 10px;border-left: 4px solid #CECECE;border-bottom: 4px solid #CECECE; }
.carList .rightSide .rightTop h1{color: black;font-size: 20px;}



.carList .rightSide  .carMainBox{background-color: #EEEEEE;margin-top: 20px;height: 270px;width: 100%;}
.carList .rightSide  .carMainBox img{width: 100%;}
.carList .rightSide  .carMainBox .left{width: 50%;float: left;}
.carList .rightSide  .carMainBox .right{width: 50%;float: left;}
.carList .rightSide  .carMainBox .right a{color: black;font-weight: 600;font-size: 30px;padding-left: 20px;padding-top: 10px;}
.carList .rightSide  .carMainBox .right p{color: gray;padding-left: 20px;margin-top: 10px;}
.carList .rightSide  .carMainBox .right ul{margin-left: 20px;margin-top: 10px;}
.carList .rightSide  .carMainBox .right a.btn{background-color:#157CB8;width: 50%; margin-left: 20px;color:white;margin-top: 60px;padding: 5px;text-align: center;border-radius: 5px;}
/*------------------Car list page CSS End-----------------------------------*/